@import 'polaris';

// body {
//     background-color: #fff;
// }

.btn {
    &.disabled {
        pointer-events: none;
    }
}

.navbar {
    
    &.root-navbar {
        padding-left: 36px;
        padding-right: 36px;
        
        a {
            color: var(--orange);
        }
    }
    
}// navbar

@import "root";